<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Comptible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>trip</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container my-5"  >
            <h1>List of Trips</h1>
            <a class="btn btn-primary"  routerLink="/create"  role="button">New Trip</a>
            <br>
            
            <table class="table" >
                <thead>
                    <tr>
                        <th>Trip ID</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  
                   <tr *ngFor="let trip of tripDetails">
                        <td>{{trip.idTrip}}</td>
                        <td>{{trip.startTime}}</td>
                        <td>{{trip.endTime}}</td>
                        <td>{{trip.from}}</td>
                        <td>{{trip.to}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" routerLink="/edit">Edit</a>
                            <a class="btn btn-danger btn-sm" routerLink="/delete">Delete</a>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </body>
</html>